<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--    页面样式部分-->
    <style>
        /* body 样式控制*/
        body{
            background-color: #efefef;
        }
        /* 隐藏body滚动条 */
        body::-webkit-scrollbar{
            display: none;
        }

        /*内容 样式控制*/
        .pageContext{
            margin: 10px 40px;
            background-color: #ffffff;
        }

        /* 更改头像大小样式 */
        .media-object{
            width: 50px;
            height: 50px;
        }

        .text-desc{
            font-size: 12px;
            font-weight: normal;
            color: #999999;
        }

    /*    设置分页居中显示*/
        #pagination{
            text-align: center;
        }

    </style>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="glyphicon glyphicon-user">更多>></span>
            </button>
            <a class="navbar-brand" href="/">我的社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索话题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!--    判定是否session中有 user 如果没有则显示 登录 -->
                <li th:unless="${session.user != null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=Iv1.a8840116dac3a540&redirect_uri=http://localhost/callback&scope=user&state=1">登录</a>
                </li>
                <!-- 判定session中是否存在user 如果存在则显示发布按钮-->
                <li th:if="${session.user != null}">
                    <a href="/publish">发布</a>
                </li>
                <!--          判定session中存在user    -->
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}">我 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row pageContext">
        <!--                左边列-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 发现</h3>
            <hr>

            <!-- 使用thymeleaf th：each 循环遍历questionDTOList-->
            <div th:if="${pageinationDTO != null}">
                <div class="media" th:each="questionDTO : ${pageinationDTO.questions}">

                    <div th:if="${questionDTO.user != null}" class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" alt="头像" th:src="${questionDTO.user.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${questionDTO.tittle}"></h4>
                        <span th:text="${questionDTO.description}"></span>
                        <span class="text-desc">
                             ~ <span th:text="${questionDTO.getCommentCount()}"></span> 个评论
                             ~ <span th:text="${questionDTO.getViewCount()}"></span> 个观看
                             ~ <span th:text="${#dates.format(questionDTO.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                    <hr>
                </div>

<!--                bootstrap 分页功能  start-->
                <nav aria-label="Page navigation" id="pagination">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page:${pageinationDTO.getPages()}"><a href="/" th:text="${page}"></a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
<!--                bootstrap 分页功能  end-->

            </div>
        </div>
        <!--                右边列-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

            <h3>热门话题</h3>
            <p>·问题标题：</p>
            <p>&nbsp; &nbsp;请用精简的语言描述您所发布的问题，不超过25个字</p>
            <p>·问题补充：</p>
            <p>&nbsp; &nbsp;补充您的问题内容并确保问题描述清晰直观，最好提供一些资料</p>
            <p>·选择标签：</p>
            <p>&nbsp; &nbsp;选择一个或多个合适的标签，采用“ ，”隔开，不要超过10个字</p>
        </div>
    </div>
</div>

</body>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>