<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrx.community.mapper.QuestionExtMapper">
    <resultMap id="BaseResultMap" type="com.wrx.community.model.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tittle" jdbcType="VARCHAR" property="tittle"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creater" jdbcType="INTEGER" property="creater"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>
    <update id="incView" parameterType="com.wrx.community.model.Question">
        update question
        set
        view_count = view_count + #{record.viewCount,jdbcType=INTEGER}
        where id = #{record.id}
    </update>
</mapper>